.article {
  margin-bottom: 20px;
}

.article .title:hover {
  color: #1a73e8;
}

.article .date {
  margin-top: 5px;
  margin-bottom: -10px;
}

.article img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  border-radius: 4px;
}