.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.index .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -15%;
  margin-bottom: 20px;
}

.index .logo img {
  width: 15%;
}