
.more-icon svg {
  font-size: 1.25rem;
}

.more-icon:hover {
  background-color: inherit !important;
}

.excerpt span {
  font-weight: bold;
}

.about {
  width: 240px;
}

.about .content {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
}

.about hr {
  margin-bottom: 5px;
}